*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
	background-image: url("./Img/Home.jpg");
    background-size: 100%;
    background-position: center;
    font-family: sans-serif;
}
.Home-bar
{
    background: rgb(0,100,0);
    text-align: center;
}
.Home-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.Home-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.Home-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active, .Home-bar ul li:hover
{
border-radius: 3px;
}
.Home-bar .fa
{
    margin-right: 8px;
}
